input_data
.idea
dev_notebooks
output
ficetools/__pycache__/
meshtools
scripts/run_experiments/run_workflow/log_smith_demo_run.txt
scripts/run_experiments/run_lcurves/tomls_*
scripts/run_experiments/run_workflow/log_smith_inversion_run.txt
scripts/run_experiments/run_workflow/log_*
scripts/run_experiments/run_lcurves/*.txt
scripts/run_experiments/run_workflow/dan_tomls
scripts/run_experiments/run_workflow/experiments_priors
scripts/run_experiments/run_workflow/itslive_exp_paper_tomls/log_tom*
plots/
