input_data
.idea
dev_notebooks
output
meshtools/__pycache__/
scripts/run_experiments/run_inversion/log_smith_demo_run.txt
scripts/run_experiments/run_lcurves/tomls_*
scripts/run_experiments/run_inversion/log_smith_inversion_run.txt
scripts/run_experiments/run_inversion/log_*
